nav {
  width: 85%;
  margin-left: 200px;
  display: grid;
  border-bottom: 2px solid #f3fef3;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  place-items: center;
  padding: 20px;
  z-index: 999;
  gap: 5rem;
}
.search-input {
  width: 300px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  outline: none;
  transition: 0.2s;
  background: #f7f6f6;
}

.profile-container {
  display: flex;
  gap: 2rem;
}
.nav-icons {
  font-size: 24px;
  font-weight: 300;
  transition: 0.5s;
}
.nav-icons:hover {
  color: #3ba23183;
}
